@{
    ViewData["Title"] = "Inicio";

}

<section>
    <aside class="contentHead">
        <aside class="contentRow contentRow-1">
            <h3>Cálculo de velocidad</h3>
        </aside>
        <aside class="contentRow contentRow-2">
            <button class="addNew" id="addNew">
                Agregar
            </button>
        </aside>
    </aside>
    <aside class="contentBody">
        <table>
            <thead>
                <tr>
                    <th>ID Corredor</th>
                    <th>Nombre</th>
                    <th>Tiempo (minutos, segundos)</th>
                    <th>Metros por segundos</th>
                </tr>
            </thead>
            <tbody>

            </tbody>
        </table>
    </aside>
</section>
