@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Agregar competidor";
}
<section>
    <aside class="contentHead">
        <aside class="contentRow contentRow-1">
            <h3>
                Agregar ciclista
            </h3>
        </aside>        
    </aside>
    <aside class="contentBody">
        <div class="boxBody">
            <div class="boxCol col1">
                <lable>Id del ciclista:</lable>
            </div>
            <div class="boxCol col2">                
                <input type="number" id="tbID" />
                <span class="icon require"><i class="fa-solid fa-asterisk"></i></span>
            </div>
        </div>
        <div class="boxBody">
            <div class="boxCol col1">
                <lable>Nombre completo:</lable>
            </div>
            <div class="boxCol col2">                
                <input type="text" id="tbName" />
                <span class="icon require"><i class="fa-solid fa-asterisk"></i></span>
            </div>
        </div>
        <div>
            <button id="register">Guardar</button>
        </div>
    </aside>
</section>